mixin card-content(title, text, data)
        a.card-link(href="#!") 
                h2.card-link__title #{title}
                .card-link__text
                        p #{text}
                ul.card-link__footer
                        li 
                                time(datetime="").article-data #{data}
                        li читать статью
