mixin picture-size(name, size)
        picture
                source(type='image/avif' srcset='./img/' + name + '/small/' + name + '.avif, ./img/' + name + '/small/retina/' + name + '.avif 2x' media='(max-width: ' + size + 'px)')
                source(type='image/avif' srcset='./img/' + name + '/' + name + '.avif, ./img/' + name + '/retina/' + name + '.avif 2x')
                source(type='image/webp' srcset='./img/' + name + '/small/' + name + '.webp, ./img/' + name + '/small/retina/' + name + '.webp 2x' media='(max-width: ' + size + 'px)')
                source(type='image/webp' srcset='./img/' + name + '/' + name + '.webp, ./img/' + name + '/retina/' + name + '.webp 2x')
                source(type='image/jpeg' srcset='./img/' + name + '/small/' + name + '.jpeg, ./img/' + name + '/small/retina/' + name + '.jpeg 2x' media='(max-width: ' + size + 'px)')
                img(src='./img/' + name + '/' + name + '.jpeg' srcset='./img/' + name + '/retina/' + name + '.jpeg 2x')
//-mixin picture-size('name')
//-        picture
//-                source(type='image/avif' srcset='./img/' + name + '/small/' + name + '.avif, ./img/' + name + '/small/retina/' + name + '.avif 2x' media='(max-width: 425px)')
//-                source(type='image/avif' srcset='./img/' + name + '/small/' + name + '.avif, ./img/' + name + '/small/retina/' + name + '.avif 2x' media='(max-width: 900px)')
//-                source(type='image/avif' srcset='./img/' + name + '/small/' + name + '.avif, ./img/' + name + '/small/retina/' + name + '.avif 2x' media='(max-width: 1227px)')
//-                source(type='image/avif' srcset='./img/' + name + '/' + name + '.avif, ./img/' + name + '/retina/' + name + '.avif 2x')
//-                source(type='image/webp' srcset='./img/' + name + '/small/' + name + '.webp, ./img/' + name + '/small/retina/' + name + '.webp 2x' media='(max-width: 425px)')
//-                source(type='image/webp' srcset='./img/' + name + '/small/' + name + '.webp, ./img/' + name + '/small/retina/' + name + '.webp 2x' media='(max-width: 900px)')
//-                source(type='image/webp' srcset='./img/' + name + '/small/' + name + '.webp, ./img/' + name + '/small/retina/' + name + '.webp 2x' media='(max-width: 1227px)')
//-                source(type='image/webp' srcset='./img/' + name + '/' + name + '.webp, ./img/' + name + '/retina/' + name + '.webp 2x')
//-                source(type='image/jpeg' srcset='./img/' + name + '/small/' + name + '.jpeg, ./img/' + name + '/small/retina/' + name + '.jpeg 2x' media='(max-width: 425px)')
//-                source(type='image/jpeg' srcset='./img/' + name + '/small/' + name + '.jpeg, ./img/' + name + '/small/retina/' + name + '.jpeg 2x' media='(max-width: 900px)')
//-                source(type='image/jpeg' srcset='./img/' + name + '/small/' + name + '.jpeg, ./img/' + name + '/small/retina/' + name + '.jpeg 2x' media='(max-width: 1227px)')
//-                img(src='./img/' + name + '/' + name + '.jpeg' srcset='./img/' + name + '/retina/' + name + '.jpeg 2x')

        //-picture
        //-        source(type='image/avif' srcset='./img/popular/small/popular-small.avif, ./img/popular/small/retina/popular-small.avif 2x' media='(max-width: 1227px)')
        //-        source(type='image/avif' srcset='./img/popular/popular.avif, ./img/popular/retina/popular.avif 2x')
        //-        source(type='image/webp' srcset='./img/popular/small/popular-small.webp, ./img/popular/small/retina/popular-small.webp 2x' media='(max-width: 1227px)')
        //-        source(type='image/webp' srcset='./img/popular/popular.webp, ./img/popular/retina/popular.webp 2x')
        //-        source(type='image/jpeg' srcset='./img/popular/small/popular-small.jpeg, ./img/popular/small/retina/popular-small.jpeg 2x' media='(max-width: 1227px)')
        //-        img(src='./img/popular/popular.jpeg' srcset='./img/popular/retina/popular.jpeg 2x')