mixin picture-size(name, size)
        picture
                source(type='image/avif' srcset='./img/' + name + '/small/' + name + '.avif, ./img/' + name + '/small/retina/' + name + '.avif 2x' media='(max-width: ' + size + 'px)')
                source(type='image/avif' srcset='./img/' + name + '/' + name + '.avif, ./img/' + name + '/retina/' + name + '.avif 2x')
                source(type='image/webp' srcset='./img/' + name + '/small/' + name + '.webp, ./img/' + name + '/small/retina/' + name + '.webp 2x' media='(max-width: ' + size + 'px)')
                source(type='image/webp' srcset='./img/' + name + '/' + name + '.webp, ./img/' + name + '/retina/' + name + '.webp 2x')
                source(type='image/jpeg' srcset='./img/' + name + '/small/' + name + '.jpeg, ./img/' + name + '/small/retina/' + name + '.jpeg 2x' media='(max-width: ' + size + 'px)')
                img(src='./img/' + name + '/' + name + '.jpeg' srcset='./img/' + name + '/retina/' + name + '.jpeg 2x' alt='Image')
