mixin picture(name)   
        picture
                source(type='image/avif' srcset='./img/' + name + '/' + name + '.avif, ./img/' + name + '/' + 'retina/' + name + '.avif 2x')
                source(type='image/webp' srcset='./img/' + name + '/' + name + '.webp, ./img/' + name + '/' + 'retina/' + name + '.webp 2x')
                img(src='./img/' + name + '/' + name + '.jpeg' srcset='./img/' + name + '/' + 'retina/' + name + '.jpeg 2x')     