.popular {
        color: var(--base);
        padding-block: remy(80) remy(100);
}
.popular-card {
        display: flex;
}
.popular-img {
        flex-shrink: 0;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: remy(32) remy(32) remy(32) remy(32);
        overflow: hidden;
        aspect-ratio: 380/500;
}
.content-wrapper {
        margin-left: -100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
}
.icon-wrapper {
        margin-top: remy(50);
        margin-left: 78%;
        display: flex;
        align-items: center;
        color: var(--prime);
        padding: remy(4) remy(8);
        border-radius: 4px 0px 0px 4px;
        backdrop-filter: blur(4px);
        background: rgba(253, 253, 253, 0.4);
}
.icon-content-wrapper {display: flex;}
.icon-text {flex: 1;}
.img-content {
        width: 100%;
        padding-block: remy(20);
        padding-inline: remy(20);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10%;
        border-radius: 0 0 remy(32) remy(32);
        backdrop-filter: blur(remy(6));
        background-color: rgba(255, 255, 255, 0.2);
        @media (max-width: remy(885)){
                padding: remy(10);
        }
        @media (max-width: remy(799)){
                padding-block: remy(20);
                padding-inline: remy(20);
        }
}

.img-text {
        font-size: remy(14);
        font-weight: 400;
        line-height: remy(18);
        color: var(--light);
        @media (max-width: remy(1047)) {
                display: none;
        }
}

.swiper {
        margin: remy(50);
}
@media (max-width: remy(585)) {
        .popular-card {
                width: remy(285);
        }
}

.popular-slider .card {
        width: 100%;
        vertical-align: bottom;
}
.popular-slider.-non-slider .swiper-wrapper {
        transform: inherit !important;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:remy(20);
}
.popular-slider.-non-slider .swiper-slide {
        width: inherit !important;
}
.popular-slider.-non-slider .swiper-slide-duplicate {
        display: none;
}
.popular-link {
        width: 100%;
        height: 100%;
}