.video {
        padding-block: remy(100) remy(100);
        @media (max-width: remy(576)) {
                padding-block: remy(50);
        }
        &-content {
                position: relative;
                flex-shrink: 0;
                aspect-ratio: 480/526;
                overflow: hidden;
                width: remy(480);
                height: remy(526);
                @media (max-width: remy(600)){
                        width: remy(358);
                        height: remy(416);
                }
        }
        &__link {
                position: relative;
                display: block;
                max-width: remy(350);
                height: remy(400);
                border-radius: remy(24);
                aspect-ratio: 350/400;
                overflow: hidden;
                &:hover .icon--play {
                        transform: translate(-50%, -50%) scale(1.2);
                        filter: saturate(1.5);
                }
        }
        .icon--play {
                position: absolute;
                left: 50%;
                top: 62%;
                transform: translate(-50%, -50%);
                transition: all 0.2s ease-in;
        }
        &-link2 {
                position: absolute;
                top: 23%;
                left: 25%;
                @media (max-width: remy(600)) {
                        top: 0;
                        left: 0;
                }
        }
        &-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: remy(1000)) {
                        align-items: stretch;
                }
                @media (max-width: remy(900)) {
                        flex-direction: column-reverse;
                        align-items: center;
                        gap: remy(40);
                }
        }
        &__desc {
                width: 100%;
                max-width: remy(580);
                @media (max-width: remy(900)) {
                        display: flex;
                        flex-direction: column;
                }
        }
}
@media (max-width: remy(600)) {
        a.video-mobile {
                display: none;
        }
}
.text {
        margin-block: remy(40);
        font-size: remy(18);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0;
}
