@function remy($pxsize) {
        @return calc(($pxsize/16)) + rem;
}
body,
html {
        height: 100%;
        font-family: NunitoSans;
        font-weight: 700;
        color: var(--dark);
        background-color: var(--base);
        overflow-x: hidden;
}
.container {
        max-width: remy(1210);
        padding-inline: remy(15);
        margin: 0 auto;
}
.main {
        flex-grow: 1;
}
a {
        display: inline-block; /* чтобы м.б. делать margin или padding*/
}
picture {
        display: block;
        width: 100%;
        height: auto;
}

.middle-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: remy(900)) {
                align-items: center;
        }
}
.top-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: remy(1227)) {
                align-items: flex-start;
        }
}
.bottom-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.smooth-transition {
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
}