:root {
        --base: #ffffff;
        --dark: rgb(24, 18, 30);
        --prime: rgb(26, 62, 62);
        --secondary: #f2be22;
        --light: rgb(253, 253, 253);
        --section: rgb(243, 245, 244);

        --container-width: 1210px;
	--container-padding: 15px;
}
