:root {
        --base: #ffffff;
        --dark: #18121e;
        --prime: rgb(26, 62, 62);
        --secondary: #f2be22;
        --light: #fdfdfd;
        --section: #f3f5f4;

        --container-width: 1210px;
	--container-padding: 15px;
}
