mixin best
        section.best(id='best')
                .container
                        .best-wrapper
                                .best__content
                                        .h3 наше предложение
                                        h2.h2 Лучшие программы для тебя
                                        .text
                                                p Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
                                        .paragraf
                                                +svg-stack('guide')
                                                .paragraf__content
                                                        .paragraf-title Опытный гид
                                                        .paragraf-text
                                                                p Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                                        .paragraf
                                                +svg-stack('safety')
                                                .paragraf__content
                                                        .paragraf-title Безопасный поход
                                                        .paragraf-text
                                                                p Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                                        .paragraf
                                                +svg-stack('loyalty')
                                                .paragraf__content
                                                        .paragraf-title Лояльные цены
                                                        .paragraf-text
                                                                p Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
                                        .middle-btn
                                                +btn('Стоимость программ', 'btn--section')
                                .best__img
                                        .img
                                                +picture('best1')
                                        .img
                                                +picture('best2')
                                        .img
                                                +picture('best3')
                                        .img
                                                +picture('best4')