mixin blog
        section.blog
                .container
                        .top-wrapper
                                .h3 делимся впечатлениями
                                h2.h2 Блог о путешествиях
                        .swiper.sample-slider.-non-slider
                                .swiper-wrapper.smooth-transition
                                        .swiper-slide
                                                .card
                                                        article.article
                                                                .article__img
                                                                        +picture('blog1')
                                                                +card-content('Красивая Италия, какая она в реальности?', 'Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.', '01/04/2023')
                                        .swiper-slide
                                                .card
                                                        article.article
                                                                .article__img 
                                                                        +picture('blog2')
                                                                +card-content('Долой сомнения! Весь мир открыт для вас!', 'Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...', '01/04/2023')
                                        .swiper-slide
                                                .card
                                                        article.article
                                                                .article__img 
                                                                        +picture('blog3')
                                                                +card-content('Как подготовиться к путешествию в одиночку? ', 'Для современного мира базовый вектор развития предполагает.', '01/04/2023')
                                        .swiper-slide
                                                .card
                                                        article.article
                                                                .article__img 
                                                                        +picture('blog4')
                                                                +card-content('Индия ... летим?', 'Для современного мира базовый.', '01/04/2023')
                                        //-.swiper-slide
                                        //-        .card
                                        //-                article.article
                                        //-                        .article__img
                                        //-                                +picture('blog1')
                                        //-                        +card-content('Красивая Италия, какая она в реальности?', 'Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.', '01/04/2023')
                                        //-.swiper-slide
                                        //-        .card
                                        //-                article.article
                                        //-                        .article__img 
                                        //-                                +picture('blog2')
                                        //-                        +card-content('Долой сомнения! Весь мир открыт для вас!', 'Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...', '01/04/2023')
                                        //-.swiper-slide
                                        //-        .card
                                        //-                article.article
                                        //-                        .article__img 
                                        //-                                +picture('blog3')
                                        //-                        +card-content('Как подготовиться к путешествию в одиночку? ', 'Для современного мира базовый вектор развития предполагает.', '01/04/2023')
                                        //-.swiper-slide
                                                .card
                                                        article.article
                                                                .article__img 
                                                                        +picture('blog4')
                                                                +card-content('Индия ... летим?', 'Для современного мира базовый.', '01/04/2023')
                        .bottom-btn
                                +btn('Другие материалы', 'btn--section')
