mixin form-bottom
        section.send
                .container
                        form.form-bottom(action="#")
                                .form-bottom__title
                                        .form-subtitle актуально
                                        .form-title Получайте полезные рассылки о путешествиях
                                .form-botttom__content
                                        label.bottom__label(for='formEmail') Введите e-mail адрес*:
                                        input.bottom__input(type="text" name='email' id='forEmail' placeholder='name@domain.com')
                                        .form-bottom__btn
                                                +btn('Подписаться на новости', 'btn--section')
                                        p.form-bottom__text подписываясь на новости, вы автоматически соглашаетесь с условиями обработки персональных данных и правилами рекламных рассылок