mixin video
        section.video
                .container
                        .video-wrapper
                                .video-content
                                        a(href="https://www.youtube.com/watch?v=nBCClFb7YoI&pp=ygUT0YLQuNCx0LXRgiDQs9C-0YDRiw%3D%3D" data-youtubeLightbox).video__link.video-mobile
                                                +svg-stack('play')
                                                +picture('video2')
                                        a.video__link.video-link2(href="https://www.youtube.com/watch?v=Ve9fFGukPYY&list=PLxqVhM_kTFCqHbTG938Sf6O6-yJ3gRmAe" data-youtubeLightbox)
                                                +svg-stack('play')
                                                +picture-size('video1', '567')
                                .video__desc
                                        .h3 о нашем походе
                                        h2.h2 Исследуйте все горные массивы мира вместе с нами
                                        .text
                                                p Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.
                                        .middle-btn
                                                +btn('Программа тура', 'btn--section')
