.form {
        display: grid;
        background-color: rgba(255, 255, 255, 0.2);
        grid-template-columns: repeat(auto-fit, minmax(remy(246), 1fr));
        column-gap: remy(45);
        padding: remy(40) remy(0) remy(28) remy(40);
        font-size: remy(16);
        border-radius: remy(10);
        @media (max-width: remy(1038)){
                column-gap: remy(3);
                padding-inline: remy(10);
        }
        @media (max-width: remy(900)){
                padding-inline: remy(25);
                column-gap: remy(45);
        }
        @media (max-width: remy(600)){
                padding: 0;
                max-width: remy(213);
        }

        &__label {
                display: grid;
                gap: remy(5);
                @media (max-width: remy(600)){
                        display: none;
                }
        }
        &__input {
                display: block;
                width: remy(270);
                height: remy(52);
                padding-left: remy(16);
                border-radius: remy(8);
                border: remy(1) solid #e1e3e4;
                &::placeholder {
                        color: var(--light);
                        font-family: NunitoSans;
                        font-weight: 700;
                        line-height: 1.5;
                }
        }
        span {
                font-size: remy(14);
                font-weight: 400;
                padding-left: remy(9);
                margin-bottom: remy(15);
        }
}

